{% extends 'landingpage/base.html' %}
{% block footer %}
<footer>
    <p>Find me on social media.</p>
    <a href="http://www.facebook.com" class="fa fa-facebook-official"></a>
    <a href="" class="fa fa-instagram"></a>
    <a href="" class="fa fa-snapchat "></a>
    <a href="" class="fa fa-pinterest-p "></a>
    <a href="" class="fa fa-twitter "></a>
    <a href="" class="fa fa-linkedin "></a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
{% endblock %}