:root{
}

body {
    margin: 0;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
    background: white;
}

.side{
    grid-row: 1 / span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.ingredient{
    grid-column: 2 /span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.instructions{
    grid-column: 2 /span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-container {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

article{
    margin-top: 80px;
    width: 70%;
    align-content: center;
    /*padding: 0 8px;*/
}

img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}

footer, .fa{
    background: lightgrey;
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

footer, a:link, a:visited {
    color: black;
}
.fa:hover{
    color: grey
}