div.header {
	background-color: #A09ECC; 
	color: #ffffff; 
	padding: 7px;
	border-radius: 10px; 
	margin: 4px 18%; 
	}

div.sidebar  {
        background-color: #32a4e7;
        color: #ffffff;
        padding: 1%;
        width: 15%;
        bottom: 0;
        top: 0;
        left: 0;
        position: absolute;
	}

div.form {
	margin: 0 18%
	}

input[type=text] {
}

input[type=number]{
}

textarea{
}

input[type=text]:focus, textarea:focus, input[type=number]:focus { 
	background-color: lightblue; 
	border: 3px solid #555; 
	}
