div.top {
	background-color: #79302b;
	color: #ffffff;
	padding: 7px;
	border-radius: 10px;
	margin: 4px;
	}

div.main {
	position: relative;
	overflow: auto;
}

div.sidebar  {
        background-color: #79302b;
        color: #ffffff;
        padding: 1%;
        width: 15%;
        bottom: 0;
        top: 0;
        left: 0;
	border-radius: 2%;
        position: absolute;
	}

div.form {
	padding: 0 20%;
	}

input[type=text] {
}

input[type=number]{
}

textarea{
}

input[type=text]:focus, textarea:focus, input[type=number]:focus {
	background-color: lightblue;
	border: 3px solid #555;
	}
