/* main Elements*/
header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 15%;
  background: yellow;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  background: lightblue;
  
}

article {
  padding-top: 10%;
  margin-left: 16%
}
