/* main Elements*/
header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 20%;
  background: yellow;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  background: lightblue;
  
}

article {
  margin: 20%
}
