body{
  margin: 20px
}

/* main Elements*/
header {
  background: lightgreen;
  border-radius: 4px;
  margin: 4px;
  padding: 15px;
}

h2, header h1 {
  margin: 0;
  padding: 0
}

nav {
  width: 150px;
  float: left;
  border-radius: 4px;
  margin: 4px
}

nav ul, nav li{
  padding: 2px;
  border-radius: 4px;
  margin: 4px
}

nav li{
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  list-style-type: none;
  cursor: pointer;
}

nav li:hover{ background-color: white;}

.active{background-color: lightgreen}

article {
  padding: 10px;
  margin-left: 150px;
}
