:root{
    /*colours*/
    --primary-color:#81d4fa;
    --p-light: #b3e5fc;
    --p-dark: var(--primary-color);
    --secondary-color:#42a5f5;
    --s-light: var(--secondary-color);
    --s-dark: var(--secondary-color);

    /*text*/
    --p-text-primary: 'Roboto', sans-serifS;
    --p-text-secondary:;
    --p-text-hint:;
    --s-text-primary:;
    --s-text-secondary:;
    --s-text-hint:;
}

li a {
    color: green;
}

body {
    background: var(--p-light);
}

header {
    background: var(--primary-color);
    font-family: var(--p-text-primary);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.side{
    grid-row: 1 / span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.ingredient{
    grid-column: 2 /span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.instructions{
    grid-column: 2 /span 2;
    background: white;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*padding: 10px;*/
}

article{
    margin-top: 80px;
    /*padding: 0 8px;*/
}

article, img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}

footer, .fa{
    background: var(--primary-color);
    font-family: var(--p-text-primary);
    font-size: ;
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

footer, a:link, a:visited { 
    color: var(--p-text-primary);
    cursor: auto;
}